---
import Layout from '../layouts/Layout.astro'
---

<Layout title="自己紹介 | bubuzukeのページ" description="ごく普通のプロフィール">
  <h2>自己紹介</h2>
  <h3>名前</h3>
  <p>西塚 遥都 (bubuzuke)</p>
  <h3>年齢</h3>
  <p>18歳 (2006年2月生まれ)</p>
  <h3>所属</h3>
  <ul>
    <li><a href="https://www.uec.ac.jp" target="_blank">電気通信大学</a> 情報理工学域 Ｉ類 情報数理工学プログラム ('24入学)</li>
    <li><a href="https://www.team411.jp" target="_blank">team411</a></li>
    <li><a href="https://shinkan.chofusai.jp/about" target="_blank">調布祭実行委員会</a></li>
  </ul>
  <h3>経歴</h3>
  <p>長野県(山しかない)出身</p>
  <p><a href="https://www.gsic.titech.ac.jp/supercon/main/attwiki/index.php?SupercomputingContest2022/%E6%9C%AC%E9%81%B8%E7%B5%90%E6%9E%9C" target="_blank">SuperCon2022 3位</a></p>
  <p><a href="https://www.gsic.titech.ac.jp/supercon/main/attwiki/index.php?SupercomputingContest2022/%E4%BA%88%E9%81%B8%E7%B5%90%E6%9E%9C" target="_blank">(本選出場校一覧)</a></p>
  <h3>苦手なこと</h3>
  <p>開発と労働</p>
  <h3>趣味</h3>
  <p>24生をteam411に勧誘すること</p>
</Layout>
