---
import Layout from '../layouts/Layout.astro'
---

<Layout title="SNS | bubuzukeのページ" description="ごく普通のプロフィール">
  <h2>SNS</h2>
  <h3>Twitter</h3>
  <p>常識的なツイートを流しています</p>
  <p><a href="https://twitter.com/bubuzuke0950" target="_blank">@bubuzuke0950</a></p>
  <h3>Instagram</h3>
  <p>ストーリーが24時間で消えることを最近知りました</p>
  <p><a href="https://instagram.com/bubuzuke0950" target="_blank">@bubuzuke0950</a></p>
  <h3>GitHub</h3>
  <p>使い方わかんない</p>
  <p><a href="https://github.com/bubuzuke0950" target="_blank">@bubuzuke0950</a></p>
</Layout>
